In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = "/content/drive/MyDrive/SLO/epl-goalScorer(20-21).csv"
data = pd.read_csv(data)

In [ ]:
data.head()

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

In [ ]:
data.dtypes

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

In [ ]:
data_noid = data.iloc[:,2:]
data_noid

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [ ]:
data_noid.describe()

,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,npg,npxG,xGChain,xGBuildup
count,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000
mean,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,1.668582,1.821450,5.663368,3.455060
std,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,2.909929,2.931176,5.600249,3.376584
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,0.000000,0.074668,1.191391,0.720353
50%,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,0.500000,0.715585,4.252738,2.656397
75%,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,2.000000,1.945799,8.308002,5.254647
max,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,19.000000,19.130183,28.968234,18.323006

# Latihan 1

In [ ]:
data_noid.head()

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

In [ ]:
#10 player terbanyak mencetak gol

# Mengelompokkan data berdasarkan pemain dan menghitung jumlah gol untuk setiap pemain
player_goals = data_noid.groupby('player_name')['goals'].sum()

# Mengurutkan pemain berdasarkan jumlah gol secara menurun
players_sort = player_goals.sort_values(ascending=False)

# Mengambil 10 pemain pertama setelah diurutkan
players_top10 = players_sort.head(10)

print(players_top10)

player_name
Harry Kane               23
Mohamed Salah            22
Bruno Fernandes          18
Patrick Bamford          17
Son Heung-Min            17
Dominic Calvert-Lewin    16
Jamie Vardy              15
Ollie Watkins            14
Alexandre Lacazette      13
Ilkay GÃ¼ndogan           13
Name: goals, dtype: int64

In [ ]:
# 2. 10 player terlama durasi bermain

# Mengelompokkan data berdasarkan pemain dan menjumlahkan durasi bermain untuk setiap pemain
player_time = data_noid.groupby('player_name')['time'].sum()

# Mengurutkan pemain berdasarkan total durasi bermain secara menurun
players_sort = player_time.sort_values(ascending=False)

# Mengambil 10 pemain pertama (top 10) setelah diurutkan
players_top10 = players_sort.head(10)

print(players_top10)

player_name
Hugo Lloris              3420
Emiliano Martinez        3420
Kasper Schmeichel        3420
Pierre-Emile HÃ¸jbjerg    3420
Stuart Dallas            3412
Matt Targett             3407
Luke Ayling              3400
Andrew Robertson         3391
Youri Tielemans          3359
James Ward-Prowse        3330
Name: time, dtype: int64

In [ ]:
# 3. 10 player terbanyak assist

# Mengelompokkan data berdasarkan pemain dan menjumlahkan assists untuk setiap pemain
player_assists = data_noid.groupby('player_name')['assists'].sum()

# Mengurutkan pemain berdasarkan total assists secara menurun
players_sort = player_assists.sort_values(ascending=False)

# Mengambil 10 pemain pertama (top 10) setelah diurutkan
players_top10 = players_sort.head(10)

print(players_top10)

player_name
Harry Kane         14
Bruno Fernandes    12
Kevin De Bruyne    11
Son Heung-Min      10
Jack Grealish      10
Raphinha            9
Jamie Vardy         9
Marcus Rashford     9
Aaron Cresswell     8
Jack Harrison       8
Name: assists, dtype: int64

In [ ]:
# 4 player pencetak gol terbanyak dari kesebelasan manchester city

# Filter baris berdasarkan kesebelasan Manchester City
mancity_players = data_noid[data_noid['team_title'] == 'Manchester City']

# Urutkan pemain-pemain tersebut berdasarkan jumlah gol secara menurun
mancity_players_sort = mancity_players.sort_values(by='goals', ascending=False)

# Ambil 4 pemain teratas
top4_mancity_players = mancity_players_sort.head(4)

print(top4_mancity_players[['player_name', 'goals']])

        player_name  goals
8    Ilkay GÃ¼ndogan     13
22  Raheem Sterling     10
28     Riyad Mahrez      9
35    Gabriel Jesus      8

In [ ]:
# 5. dari kesebelasan pencetak gol terbanyak

# Mengelompokkan data berdasarkan kesebelasan dan menjumlahkan jumlah gol untuk setiap kesebelasan
teams_goals = data_noid.groupby('team_title')['goals'].sum()

# Mengurutkan kesebelasan berdasarkan jumlah gol secara menurun
teams_sort =teams_goals.sort_values(ascending=False)

# Mendapatkan kesebelasan dengan pencetak gol terbanyak
team_with_most_goals = teams_sort.index[0]

print("Kesebelasan dengan pencetak gol terbanyak :", team_with_most_goals)
print("Jumlah gol:", teams_goals[team_with_most_goals])

Kesebelasan dengan pencetak gol terbanyak : Manchester City
Jumlah gol: 77

In [ ]:
# 6. Berapa jumlah kartu kuning dan merah yang diterima pembuat assist  terbanyak ?

# Temukan pembuat assist terbanyak
top_assist_maker = data_noid.groupby('player_name')['assists'].sum().idxmax()

# Filter data untuk pembuat assist terbanyak
top_assist_maker_data = data_noid[data_noid['player_name'] == top_assist_maker]

# Hitung jumlah kartu kuning dan merah yang diterima
yellow_cards = top_assist_maker_data['yellow_cards'].sum()
red_cards = top_assist_maker_data['red_cards'].sum()


print("Pembuat assist terbanyak:", top_assist_maker)
print("Jumlah kartu kuning yang diterima:", yellow_cards)
print("Jumlah kartu merah yang diterima:", red_cards)

Pembuat assist terbanyak: Harry Kane
Jumlah kartu kuning yang diterima: 1
Jumlah kartu merah yang diterima: 0

In [ ]:
# 7. Siapa yang jumlah assist dan golnya paling banyak dan dari kesebelasan mana ?

# Mengelompokkan data berdasarkan pemain dan menjumlahkan assist dan gol
player_assists_goals = data_noid.groupby('player_name').agg({'assists': 'sum', 'goals': 'sum'})

# Temukan pemain dengan jumlah assist dan gol terbanyak
top_player = player_assists_goals[(player_assists_goals['assists'] == player_assists_goals['assists'].max()) & (player_assists_goals['goals'] == player_assists_goals['goals'].max())]

# Ambil kesebelasan asal pemain tersebut
team_title = data_noid[data_noid['player_name'] == top_player.index[0]]['team_title'].iloc[0]

# Menampilkan hasil
print("Pemain dengan jumlah assist dan gol terbanyak:", top_player.index[0])
print("Jumlah assist:", top_player['assists'].iloc[0])
print("Jumlah gol:", top_player['goals'].iloc[0])
print("Kesebelasan:", team_title)

Pemain dengan jumlah assist dan gol terbanyak: Harry Kane
Jumlah assist: 14
Jumlah gol: 23
Kesebelasan: Tottenham

In [ ]:
# 8. 5 kesebelasan yang menyumbangkan gol terbanyak

# Mengelompokkan data berdasarkan kesebelasan dan menjumlahkan jumlah gol
team_goals = data_noid.groupby('team_title')['goals'].sum()

# urut kesebelasan berdasarkan jumlah gol secara menurun
teams_sort = team_goals.sort_values(ascending=False)

# Ambil 5 kesebelasan teratas
top5_teams = teams_sort.head(5)

# Menampilkan hasil
print("5 kesebelasan yang menyumbangkan gol terbanyak:")
print(top5_teams)

5 kesebelasan yang menyumbangkan gol terbanyak:
team_title
Manchester City      77
Manchester United    68
Tottenham            66
Liverpool            64
Leicester            64
Name: goals, dtype: int64

In [ ]:
#9. Urutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu sama sekali !

# Filter pemain yang tidak mendapatkan kartu kuning atau merah
players_nocards = data_noid[(data_noid['yellow_cards'] == 0) & (data_noid['red_cards'] == 0)]

# Urutkan pemain berdasarkan jumlah gol secara menurun
players_sort = players_nocards.sort_values(by='goals', ascending=False)

# Menampilkan hasil
print("Pemain dengan jumlah gol terbanyak tanpa kartu kuning atau merah:")
print(players_sort[['player_name', 'goals']])

Pemain dengan jumlah gol terbanyak tanpa kartu kuning atau merah:
         player_name  goals
1      Mohamed Salah     22
3      Son Heung-Min     17
13        Chris Wood     12
28      Riyad Mahrez      9
29     Harvey Barnes      9
..               ...    ...
353      Lys Mousset      0
343    Islam Slimani      0
341       Moise Kean      0
340          Emerson      0
521  Tyrese Francois      0

[164 rows x 2 columns]